<div class="container-home">
  <!-- Hero -->
  <div class="hero">
    <div class="hero-content">
      <h1>Exclusive photos</h1>
      <p>Lorem ipsum dolor sit amet,
        <strong>consectetur adipisicing elit.</strong>
        Nihil aliquid asperiores, pariatur cupiditate repudiandae eaque reprehenderit rerum quas illo unde, vero saepe beatae
        <strong>blanditiis assumenda voluptatum debitis</strong>blanditiis assumenda voluptatum debitis ut? Rem, distinctio!</p>
    </div>
  </div>
  <!-- Main content -->
  <div class="main-content">
    <div class="content">
      <div class="box pic1"></div>
      <div class="box">
        <h2>Lorem ipsum dolor.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, eius.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque suscipit vitae voluptates maxime, est aut error, nesciunt in fugiat labore!</p>
      </div>
    </div>
    <div class="content">
      <div class="box">
        <h2>Lorem ipsum.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, eius.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam tempore, harum quaerat sequi rem dolorem iusto repellendus temporibus doloremque eum, fuga eos quasi suscipit nam consequatur officiis enim modi dolor!</p>
      </div>
      <div class="box pic2"></div>
    </div>

  </div>
</div>

</div>
