<div class="container item-page">

  <h1><%= @item.title %></h1>

  <%= image_tag @item.image.url %>

  <%= simple_format @item.description %>

  <p>
    <%= link_to "Download photo", @item.image.url, download: true, target: "blank" %>
  </p>

</div>
