// Fonts: Saria / Montserrat
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600|Saira:300,400,600&display=swap');

$titleFont: "Saira";
$bodyFont: "Montserrat"; // Extended font styles

// Colors
$green: #7BBF8E;
$darkgreen: #4D7859;;
$black: #2E2E2E;
$white: #F8F8F8;
$red: #980000;

// Global elements
body {
  font-family: $bodyFont;
  line-height: 1.5;
  color: $black;
  font-size: 16px;
}

a {
  color: $black;
}

h1, h2, h3 {
  font-family: $titleFont;
}

// Page header
header {
  height: 72px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 4px 4px 10px $black;
          box-shadow: 4px 4px 10px $black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: $black;
  padding: 0 20px;
}

.home {
  text-transform: uppercase;
  font-size: 1.5em;
  color: $green;
  letter-spacing: -4px;
  cursor: pointer;
}

.nav-el {
  display: inline-block;
  margin-right: 20px;
  color: $white;
}

// Flash message styling
.success {
  display: block;
  width: 100%;;
  background-color: $green;
  color: $black;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.error {
  display: block;
  width: 100%;;
  background-color: $red;
  color: $white;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

// Buttons & links
.button {
  text-align: center;
  min-width: 100px;
  color: $white;
  font-size: 1rem;
  padding: 2px 15px;
  margin-right: 5px;
  border: $green 2px solid;
  border-radius: 100px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  &:hover {
    background-color: $darkgreen;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.button.active {
  background-color: $green;
  &:hover {
    background-color: $darkgreen;
  }
}

.nav-link {
  color: $white;
  &:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid $green;
  }
}

.link {
  color: $black;
  &:hover {
    color: $green;
  }
}

// Content-wrapper
.container {
  padding: 20px;
  margin-top: 72px;
}

.container-home {
  margin-top: 72px;
}

// Form styling
form, form div {
  margin-bottom: 10px;
}
