// Search form
.search-form {
  padding: 15px 0;
  text-align: left;
}
.search-input {
  max-width: 300px;
  background: $black;
  color: $white;
  padding: 3px 0;
  font-size: 16px;
  font-family: $bodyFont;
  font-weight: 500;
  border: none;
  border-bottom: 2px solid $green;
}

// Items index page
div.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  img {
    max-width: 100%;
  }

  .item {
    display: block;
    border-bottom: none;
    color: $black;
    padding: 1em;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
    transition: -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
    transition: box-shadow 0.2s, transform 0.2s;
    transition: box-shadow 0.2s, transform 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;

    &:hover {
      -webkit-transform: translate(0, -2px);
              transform: translate(0, -2px);
      -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    }

    h2 {
      color: $black;
    }

    p {
      margin: 0.5em 0 0 0;
    }
  }
}

// Item show PagesController
div.item-page {
  img {
    max-width: 70%;
    &:hover {
      -webkit-filter: saturate(50%);
              filter: saturate(50%);
    }
  }

  h1, p, a {
    color: $black;
    max-width: 650px;
  }
}
