// Home page
.hero {
  background-image: url("https://images.unsplash.com/photo-1559276714-523895674709?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center left;
  width: 100vw;
  height: 75vh;
  position: relative;
}

.hero-content {
  background-color: #2E2E2E50;
  padding: 20px;
  position: absolute;
  top: 0%;
  left: 20px;
  width: 310px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);

  h1 {
    font-family: $titleFont;
    margin-bottom: 20px;
  }

  p {
    text-shadow: 1px 1px 1px $black;
  }
}

.main-content {
  background: -webkit-gradient(linear, left top, left bottom, from($green), to($darkgreen));
  background: linear-gradient($green, $darkgreen);
  padding: 50px 0;
}

.content {
  margin-bottom: 50px;
  padding: 0 20px;

  &:last-of-type {
    margin-bottom: 0;
  }
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  .pic1 {
    background-image: url("https://images.unsplash.com/photo-1555764576-3f17e843fedd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    background-position: center center;
  }
  .pic2 {
    background-image: url("https://images.unsplash.com/photo-1554296962-03138bbbd139?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
    background-size: cover;
    background-position: center left;
  }
}

.box {
  border: 1px solid $black;
  width: 50%;
  height: 400px;
  padding: 20px;
  &:first-of-type {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}
