<div class="container">

  <h1>Categories</h1>

  <div class="categories_container">
    <% @categories.each do |c| %>
      <p><%= link_to c.title, category_path(c), class: "category_link" %></p>
    <% end %>
  </div>


</div>
