<div class="container">

  <h1>Edit account</h1>

  <%= simple_form_for @user, url: account_path do |f| %>

  <%= f.input :subscription_plan, as: :select,
    collection: [
      ["Basic - £9.99/month", "basic"],
      ["Pro - £19.99/month", "pro"]
    ],
    include_blank: false %>

  <%= f.button :submit, "Save" %>

<% end %>

</div>
